<h1>Pirate Form</h1>

<form method="post" action="/pirates">
  <div>
    <label>Pirate Name: <input type="text" name="pirate[name]"></label>
    <label>Pirate Weight: <input type="text" name="pirate[weight]"></label>
    <label>Pirate Height: <input type="text" name="pirate[height]"></label>
  </div><br>
  <div>
    <label>ship_name_1: <input type="text" name="pirate[ships][][name]"></label>
    <label>ship_type_1: <input type="text" name="pirate[ships][][type]"></label>
    <label>ship_booty_1: <input type="text" name="pirate[ships][][booty]"></label>
  </div><br>
  <div>
    <label>ship_name_2: <input type="text" name="pirate[ships][][name]"></label>
    <label>ship_type_2: <input type="text" name="pirate[ships][][type]"></label>
    <label>ship_booty_2: <input type="text" name="pirate[ships][][booty]"></label>
  </div><br>
  <input type="submit" value="Submit">
</form>